@charset "utf-8"; 
  * {
    margin: 0;
    padding: 0; }

    body, ul, p, dd, ol, pre, code {
      font-family: "Oxygen Mono", sans-serif;
      font-size: 12px;
      color: #333;
      line-height: 16px;
      margin: 0 0 16px 0; }

      ol, ul {
        padding-left: 24px; }

        code {
          background-color: #eee;
          padding: 0 4px; }

          h1, h2, h3, h4, h5, h6 {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 12px;
            text-rendering: optimizeLegibility;
            margin: 0 0 16px 0; }

            h1 {
              font-size: 24px;
              line-height: 32px; }

              h2 {
                font-size: 16px;
                line-height: 16px; }

                h3 {
                  font-size: 14px;
                  line-height: 16px; }

                  h4 {
                    font-size: 13px;
                    line-height: 16px; }

                    a {
                      color: #ff633f; }

                      a:hover {
                        color: #ff3a0c; }

                        #container {
                          padding-top: 32px;
                          margin: 0 auto;
                          width: 90%; }

                          @media only screen and (min-width: 768px) {
                            #container {
                              margin: 0;
                              width: 640px;
                              padding-left: 32px;   }
}

  #header {
    margin-bottom: 16px; }
    #header:after {
      content: "";
      display: table;
      clear: both; }
      #header h1 a, #header h1 a:hover {
        color: #333;
        text-decoration: none; }
        #header .navigation, #header .navigation li {
          line-height: 32px;
          float: left;
          list-style: none;
          font-family: "Helvetica Neue", Helvetica;
          font-weight: bold; }
          #header .navigation li {
            padding-left: 24px; }

  #footer {
    padding: 24px 0; }

    .post-body img {
      max-width: 100%;
      margin: 0 auto;
      display: block; }
      .post-body iframe, .post-body blockquote {
        margin-bottom: 16px; }
        .post-body blockquote {
          padding-left: 16px;
          font-style: italic;
          margin: 0; }
          .post-body blockquote p {
            color: #737373; }

  #gallery {
    padding: 0;
    margin: 0; }
    #gallery:after {
      content: "";
      display: table;
      clear: both; }
      #gallery li {
        margin-bottom: 16px;
        width: 47.5%;
        float: left; }
        #gallery li:nth-child(even) {
          margin-left: 5% !important; }
          #gallery img {
            width: 100%;
            margin: 0;
            height: auto;
            margin-bottom: 16px; }
            #gallery ul, #gallery li {
              padding: 0;
              list-style: none; }
