{% extends "base.html" %}

{% block meta %}
<title>dbp | {{ page.metadata.title }}</title>
<meta name="description" content="{{ page.metadata.description }}">
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.metadata.title }}" />
<meta property="og:url" content="{{ page.url }}" />
{# <meta property="og:image" content="{{base_url}}/img/headers/{{{image}}}" /> #}
{# <meta property="og:site_name" content="{{ share.og_site_name }}" /> #}
<meta property="og:description" content="{{ page.metadata.description }}" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="{{ page.metadata.description }}"/>
<meta name="twitter:title" content="{{ page.metadata.title }}"/>
{# <meta name="twitter:image:src" content="{{base_url}}/img/headers/{{{image}}}"/> #}
<meta name="twitter:creator" content="@dave_brent"/>
{% endblock %}

{% block content %}
<div class="post">
  <div class="post-header">
    <h1>{{ page.metadata.title }}</h1>
  </div>
  <div class="post-body">
    {{ page.contents }}
  </div>
  {% if page.metadata.comments %}
  <div class="post-comments">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ page.url }}";
        this.page.identifier = "{{ page.metadata.slug }}";
      };

      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//davepoulternet.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.
      </a>
    </noscript>
  </div>
  {% endif %}
</div>
{% endblock %}
